<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fitnesscompanion.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.LoginActivity" />
        <activity
            android:name=".View.SignUpActivity"
            android:parentActivityName=".View.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.Home.MenuActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Profile.ProfileActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Profile.SettingActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Home.BMIActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Home.GoalsActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity android:name=".View.RecordActivity" />
        <activity
            android:name=".View.Profile.AchievementActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Activity.ExerciseActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Activity.ExeDetailActivity"
            android:parentActivityName=".View.Home.MenuActivity" />

        <!-- Reminder -->
        <activity
            android:name=".View.Profile.ReminderActivity"
            android:parentActivityName=".View.Home.MenuActivity" />
        <activity
            android:name=".View.Profile.EditAlarm"
            android:parentActivityName=".View.Profile.ReminderActivity"
            android:label="Edit Alarm" />
        <activity
            android:name=".View.Profile.AlarmNotification"
            android:label="Alarm notification" />
        <activity
            android:name=".View.Profile.Preferences"
            android:parentActivityName=".View.Profile.ReminderActivity"
            android:label="Preferences" />

        <receiver
            android:name=".Util.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name=".Util.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>